<nz-page-header class="py-0">
  <div nz-page-header-title>
    <h1 nz-typography>Offender Profile</h1>
  </div>
  <nz-page-header-extra></nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="px-4">
  <!-- <nz-card class="w-100 p-0"> -->
    <ng-container *ngIf="selectedOffender$ | async as offender; else noOffenderDetailsLoaded">
      <nz-row [nzGutter]="[16, 16]">
        
        <!-- Offender Profile Details & Cases Sections -->
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="16">
          <nz-row [nzGutter]="[16, 16]">
            
            <!-- Details Section -->
            <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12">
              <nz-card class="w-100 p-0 shadow-lg">
                <vsp-offender-simple-profile
                    [offender]="offender"
                    [includeProfileLinks]="false"
                    [maxSummaryLength]="300">
                </vsp-offender-simple-profile>
              </nz-card>
            </nz-col>
            
            <!-- Cases Section -->
            <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12">
              <nz-card class="w-100 p-0 shadow-lg">
                <nz-page-header class="p-0">
                  <div nz-page-header-title>
                    <h3 nz-typography style="margin-bottom:0;">Cases</h3>
                  </div>
                  <nz-page-header-extra>
                    <button nz-button nzType="default" nzSize="small">
                      <i nz-icon nzType="folder-add" nzTheme="outline"></i> Add Case
                    </button>
                  </nz-page-header-extra>
                </nz-page-header>

                <nz-divider class="mt-2 mb-4"></nz-divider>

                <ng-container *ngIf="offender?.cases?.length; else noOffenderCasesLoaded">
                  <ng-container *ngFor="let case of offender.cases">
                    <nz-row [nzGutter]="[16, 16]">
                      <nz-col [nzSpan]="24">
                        <nz-card>
                          <vsp-offender-case-simple-details [case]="case"></vsp-offender-case-simple-details>
                        </nz-card>
                      </nz-col>
                    </nz-row>
                  </ng-container>
                </ng-container>

              </nz-card>
            </nz-col>
          </nz-row>
        </nz-col>

        <!-- Offender Comments Section -->
        <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8">
          <nz-card class="w-100 p-0 shadow-lg">

            <nz-page-header class="p-0">
              <div nz-page-header-title>
                <h3 nz-typography style="margin-bottom:0;">Comments</h3>
              </div>
              <nz-page-header-extra></nz-page-header-extra>
            </nz-page-header>
            
            <nz-divider class="mt-2 mb-4"></nz-divider>

            <nz-row [nzGutter]="[16, 16]">
              <nz-col [nzSpan]="24">
                <vsp-comment-form
                    (submitComment)="onSubmitComment(offender.id, $event)">
                </vsp-comment-form>
              </nz-col>
            </nz-row>

            <nz-divider class="mt-2 mb-2"></nz-divider>

            <nz-row [nzGutter]="[16,16]">
              <nz-col [nzSpan]="24">
                <ng-container *ngIf="(currentOffenderCommentsPage$ | async) !== null; else skeletonCommentsTemplate">
                  <div
                      *ngIf="currentOffenderCommentsPage$ | async as page;"
                      style="height: 100%;"
                      infinite-scroll
                      [infiniteScrollDistance]="defaultInfiniteScrollSettings.scrollDownDistance"
                      [infiniteScrollThrottle]="defaultInfiniteScrollSettings.throttle"
                      (scrolled)="onScrollDownComments(page.next || null)">
                    <div [@fadeAnimation]>
                      <vsp-comment-list 
                          [loadedPages]="loadedOffenderCommentsPages$ | async">
                      </vsp-comment-list>
                    </div>
                  </div>
                </ng-container>
                <!-- Skeleton Template -->
                <ng-template #skeletonCommentsTemplate>
                  <div class="block w-100">
                    <vsp-comment-list-skeleton></vsp-comment-list-skeleton>
                  </div>
                </ng-template>
              </nz-col>
            </nz-row>


          </nz-card>
        </nz-col>
      </nz-row>
    </ng-container>
  <!-- </nz-card> -->
</div>

<!-- No Offender Cases Template -->
<ng-template #noOffenderCasesLoaded>
  <nz-card class="w-100 p-0">
    <nz-empty 
        nzNotFoundImage="simple"
        nzNotFoundContent="No offender cases to display!">
    </nz-empty>
  </nz-card>
</ng-template>

<!-- No Offender Comments Template -->
<ng-template #noOffenderCommentsLoaded>
  <nz-card class="w-100 p-0">
    <nz-empty 
        nzNotFoundImage="simple"
        nzNotFoundContent="No offender comments to display!">
    </nz-empty>
  </nz-card>
</ng-template>

<!-- No Offender Details Template -->
<ng-template #noOffenderDetailsLoaded>
  <nz-card class="w-100 p-0">
    <nz-empty 
        nzNotFoundImage="simple"
        nzNotFoundContent="No offender details to display!">
    </nz-empty>
  </nz-card>
</ng-template>
