<div class="block" *ngIf="userAccountForm" [formGroup]="userAccountForm">
  <div class="w-100" nz-row [nzGutter]="16">
    <!-- Column 1 - User Details -->
    <div class="bordered-right" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="7" nzXl="7">
      <div class="block p-4">
        <!-- User Details Section -->
        <nz-divider nzOrientation="left" nzText="User Details"></nz-divider>
        <ng-container
            [ngTemplateOutlet]="userDetailsSectionTemplate"
            [ngTemplateOutletContext]="{ userAccountForm }">
        </ng-container>
      </div>
    </div>

    <!-- Column 2 - Profile Details -->
    <div class="bordered-right" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="7" nzXl="7">
      <div class="block p-4">
        <!-- Profile Details Section -->
        <nz-divider nzOrientation="left" nzText="Profile Details"></nz-divider>
        <ng-template
            [ngTemplateOutlet]="profileDetailsSectionTemplate"
            [ngTemplateOutletContext]="{ userAccountForm }">
        </ng-template>
      </div>
    </div>

    <!-- Column 3 - User Permissions -->
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="10">
      <div class="block p-4">
        <!-- User Details Section -->
        <nz-divider nzOrientation="left" nzText="User Permissions"></nz-divider>
        <ng-container
            [ngTemplateOutlet]="userPermissionsSectionTemplate"
            [ngTemplateOutletContext]="{ userAccountForm }">
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!-- User Details Section -->
<ng-template 
    let-userAccountForm="userAccountForm" 
    #userDetailsSectionTemplate>
  <div [formGroup]="userAccountForm">
    <!-- Username -->
    <nz-form-item>
      <nz-form-label class="text-left"  [nzXs]="24" nzRequired nzFor="username">Username</nz-form-label>
      <nz-form-control [nzXs]="24" [nzErrorTip]="usernameErrorTemplate">
        <nz-input-group nzPrefixIcon="user">
          <input vspAutoFocusControl type="text" nz-input formControlName="username" />
        </nz-input-group>
        <ng-template #usernameErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">Username is required!</ng-container>
          <ng-container *ngIf="control.hasError('usernameExists')">Username already exists!</ng-container>
          <ng-container *ngIf="control.hasError('email')">Invalid username format!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Email -->
    <nz-form-item>
      <nz-form-label class="text-left"  [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
      <nz-form-control [nzXs]="24" [nzErrorTip]="emailErrorTemplate">
        <nz-input-group nzPrefixIcon="mail">
          <input vspAutoFocusControl type="text" nz-input formControlName="email" />
        </nz-input-group>
        <ng-template #emailErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">Email is required!</ng-container>
          <ng-container *ngIf="control.hasError('emailExists')">Email already exists!</ng-container>
          <ng-container *ngIf="control.hasError('email')">Invalid email format!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Password -->
    <nz-form-item>
      <nz-form-label class="text-left" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
      <nz-form-control [nzXs]="24" [nzErrorTip]="passwordErrorTemplate">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" />
        </nz-input-group>
        <ng-template #passwordErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">Password is required!</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">Password must be 6 characters (upper/lower case, numbers and symbols)!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Confirm Password -->
    <nz-form-item>
      <nz-form-label class="text-left" [nzXs]="24" nzRequired nzFor="confirmPassword">Confirm Password</nz-form-label>
      <nz-form-control [nzXs]="24" [nzErrorTip]="confirmPasswordErrorTemplate">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="confirmPassword" />
        </nz-input-group>
        <ng-template #confirmPasswordErrorTemplate let-control>
          <ng-container *ngIf="control.hasError('required')">Confirm Password is required!</ng-container>
          <ng-container *ngIf="control.hasError('mustMatch')">Confirm Password must match Password!</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">Password must be 6 characters (upper/lower case, numbers and symbols)!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
</ng-template>


<!-- Profile Details Section -->
<ng-template 
    let-userAccountForm="userAccountForm" 
    #profileDetailsSectionTemplate>
  <ng-container [formGroup]="userAccountForm">
    <div formGroupName="profile">
      <!-- User Avatar -->
      <div class="my-5">
        <nz-upload
            class="avatar-uploader text-center"
            [nzAction]="uploadAvatarUrl"
            nzName="avatar"
            nzListType="picture-card"
            [nzShowUploadList]="false"
            [nzBeforeUpload]="beforeUpload"
            (nzChange)="handleChange($event)">
          <ng-container *ngIf="!avatarUrl">
            <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
        </nz-upload>
        <!-- <img class="block mx-auto my-5" style="border-radius: 50%; width: 128px; height: 128px;" src="https://i.pravatar.cc/300" /> -->
      </div>

      <!-- First Name -->
      <nz-form-item>
        <nz-form-label class="text-left" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
        <nz-form-control [nzXs]="24" nzErrorTip="Please input your First Name!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="firstName" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- Last Name-->
      <nz-form-item>
        <nz-form-label class="text-left" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
        <nz-form-control [nzXs]="24" nzErrorTip="Please input your Last Name!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="lastName" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- Summary -->
      <nz-form-item>
        <nz-form-label class="text-left" [nzXs]="24" nzFor="summary">Summary</nz-form-label>
        <nz-form-control>
          <textarea
              nz-input
              [nzAutosize]="{ minRows: 6, maxRows: 6 }"
              formControlName="summary">
          </textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-container>
</ng-template>


<!-- User Permissions Section -->
<ng-template 
    let-userAccountForm="userAccountForm" 
    #userPermissionsSectionTemplate>

  <!-- Apply Permissions Template Control -->
  <div class="text-right mb-3">
    <button
        nz-button 
        nzType="default"
        nzSize="small"
        title="Apply as saved permission template."
        [nzLoading]="isLoadingTemplate"
        [disabled]="isLoadingTemplate"
        nz-dropdown
        [nzDropdownMenu]="permissionTemplatesDropdown"
        nzTrigger="click">
      <i nz-icon nzType="security-scan" nzTheme="outline"></i>
      Apply Permissions Template
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #permissionTemplatesDropdown="nzDropdownMenu">
      <ul nz-menu>
        <li 
            nz-menu-item 
            (click)="onApplyPermissionTemplate(null)">
          Default (Blank)
        </li>
        <ng-container *ngIf="permissionTemplates">
          <li 
              *ngFor="let template of permissionTemplates"
              nz-menu-item 
              (click)="onApplyPermissionTemplate(template)">
            {{ template?.name }}
          </li>
        </ng-container>
      </ul>
    </nz-dropdown-menu>
  </div>
  
  <!-- Claim Permission Switches Control -->
  <vsp-claim-permissions-control
      [claimPermissionsFormArray]="claimPermissionGroupsArray">
  </vsp-claim-permissions-control>
</ng-template>
