@import '../../../../../../../@assets/scss/variables';

.slanted {
  background-color: white;
  height:500px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.search-section {
  height: 550px;
  
  .search-section-container {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: $screen-lg) {
  
}


@media only screen and (max-width: $screen-sm) {
  .title-mobile {
    display: block;
  }

  .title-desktop {
    display: none;
  }
}
