<nz-row [nzGutter]="[16, 16]">
  <ng-container *ngIf="loadedPages">
    <ng-container *ngIf="(loadedPages | pjoFlattenPageCollection)?.length; else emptyVideoResults">
      <ng-container *ngFor="let video of loadedPages | pjoFlattenPageCollection">
        <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
          <vsp-video-card-tile [video]="video"></vsp-video-card-tile>
        </nz-col>
      </ng-container>
    </ng-container>
  </ng-container>
</nz-row>

<!-- Empty Template -->
<ng-template #emptyVideoResults>
  <nz-col [nzSpan]="24" class="mt-4">
    <nz-card>
      <nz-empty 
          nzNotFoundImage="simple"
          nzNotFoundContent="No videos results to display!">
      </nz-empty> 
    </nz-card>
  </nz-col>
</ng-template>
