<nz-page-header class="py-0">
  <div nz-page-header-title>
    <h1 nz-typography>Update User Account</h1>
  </div>
  <nz-page-header-extra>
    <button
        nz-button 
        nzType="primary"
        (click)="onUpdateUserAccount(updateUserAccountForm.value)">
      Save
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="px-4 py-0">
  <nz-card class="w-100 p-0">
    <form class="block" [formGroup]="updateUserAccountForm">
      <vsp-user-account-update-form
          (selectTemplateModulePermissionName)="onTemplateModulePermissionNameSelected($event)"
          (issuePasswordResetRequest)="onIssuePasswordResetRequest($event)">
      </vsp-user-account-update-form>
    </form>
  </nz-card>
</div>
