@import '../../../../../assets/scss/variables';
@import '../../../../../../../@assets/scss/variables';

.teams-simple-profile-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

  .teams-simple-profile-header-details {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: $screen-xs) {
  .teams-simple-profile-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    .teams-simple-profile-header-avatar {
      margin-bottom: 1rem;
    }
    
    .teams-simple-profile-header-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      .teams-simple-profile-header-details-title {
        margin-bottom: 1rem;
      }
    }  
  }
}
