<nz-page-header class="py-0">
  <div nz-page-header-title>
    <h1 nz-typography>Create Permission Template</h1>
  </div>
  <nz-page-header-extra>
    <button
        class="mr-1"
        nz-button 
        nzType="primary"
        (click)="onCreatePermissionTemplate(createPermissionTemplateForm.value, true)">
      Save
    </button>
    <button
        nz-button 
        nzType="primary"
        nzGhost
        (click)="onCreatePermissionTemplate(createPermissionTemplateForm.value, false)">
      Save & Create Another
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="p-4">
  <nz-card class="w-100 p-0">
    <form class="block" [formGroup]="createPermissionTemplateForm">
      <vsp-permission-template-form></vsp-permission-template-form>
    </form>
  </nz-card>
</div>
