<!-- Avatar Section -->
<div class="flex flex-row w-100 align-items-top mb-4">
  <span class="mr-2">
    <nz-avatar 
        [nzShape]="'square'" 
        [nzSize]="74" 
        [nzIcon]="'user'"
        [nzSrc]="missingPerson?.person?.avatarUrl || undefined">
    </nz-avatar>
  </span>

  <!-- Deteails Section -->
  <span class="flex-grow-1">
    <h3 class="fw-bold mb-0">
      <a 
          [routerLink]="missingRouterLink"
          title="View full offender profile">
        {{ missingPerson?.person?.firstName }} {{ missingPerson?.person?.lastName }}
      </a>
    </h3>
    <nz-row [nzGutter]="[16]">
      <!-- Left Side Details -->
      <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
        <div class="flex flex-row justify-content-between">
          <small class="fw-bold">Age: </small>
          <small>{{ missingPerson?.person?.dateOfBirth | pjoAge }} years old</small>
        </div>
        <div class="flex flex-row justify-content-between">
          <small class="fw-bold">Sex: </small>
          <small>{{ missingPerson?.person?.sex | titlecase }}</small>
        </div>
        <div class="flex flex-row justify-content-between">
          <small class="fw-bold">DOB: </small>
          <small>{{ missingPerson?.person?.dateOfBirth | date }}</small>
        </div>
      </nz-col>

      <!-- Right Side Details -->
      <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
        <div class="flex flex-row justify-content-between">
          <small class="fw-bold">Reported Missing: </small>
          <small>{{ missingPerson?.reportedMissingOn | date }}</small>
        </div>
        <div class="flex flex-row justify-content-between">
          <small class="fw-bold">Last Seen: </small>
          <small>{{ missingPerson?.lastSeenOn | date }}</small>
        </div>
      </nz-col>
    </nz-row>
  </span>
  
</div>
<div>
  <ng-container *ngIf="includeSummary">
    <h4 class="fw-bold">Summary</h4>
    <p>{{ (missingPerson?.summary || '') | pjoEllipsis: 128 }}</p>
  </ng-container>
  <div *ngIf="includeProfileLinks">
    <a
        [routerLink]="missingRouterLink"
        class="mr-2"
        nz-button 
        nzType="default" 
        nzShape="circle"
        title="View full missing child profile">
      <i nz-icon nzType="folder-view"></i>
    </a>
    <button 
        nz-button 
        nzType="default" 
        nzShape="circle"
        title="Contact about this missing childe">
      <i nz-icon nzType="mail"></i>
    </button>
  </div>
</div>
