<nz-page-header class="py-0">
  <div nz-page-header-title>
    <h1 nz-typography>Create User Account</h1>
  </div>
  <nz-page-header-extra>
    <button
        class="mr-1"
        (click)="onCreateUserAccount(createUserAccountForm.value, true)"
        nz-button 
        nzType="primary">
      Save
    </button>
    <button
        (click)="onCreateUserAccount(createUserAccountForm.value, false)"
        nz-button 
        nzType="primary"
        nzGhost>
      Save & Create Another
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="px-4 py-0">
  <nz-card class="w-100 p-0">
    <form class="block" [formGroup]="createUserAccountForm">
      <vsp-user-account-create-form
          [permissionTemplates]="permissionTemplates$ | async"
          (selectPermissionTemplate)="onPermissionTemplateSelected($event)">
      </vsp-user-account-create-form>
    </form>
  </nz-card>
</div>
