<nz-alert
  class="mx-0 mb-4"
  *ngIf="forgotPasswordResponseMessage$ | async as message"
  [nzType]="message?.status || 'error'"
  [nzMessage]="(message?.message) || ''"
  nzShowIcon
></nz-alert>
<form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword(forgotPasswordForm.value)" novalidate>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input 
            type="text" 
            nz-input 
            formControlName="email" 
            placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button 
      nz-button 
      type="submit"
      class="block w-100 mb-3" 
      [nzType]="'primary'">
    Send
  </button>
  <div class="text-center">
    Or <a (click)="selectedIndexChange.emit(0)">sign in!</a>
  </div>
</form>