<nz-page-header class="py-0">
  <div nz-page-header-title>
    <h1 nz-typography>Create Offender</h1>
  </div>
  <nz-page-header-extra>
    <button
        class="mr-1"
        nz-button 
        nzType="primary">
      Save
    </button>
    <button
        nz-button 
        nzType="primary"
        nzGhost>
      Save & Create Another
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="px-4">
  <nz-card class="w-100 p-0">
    <form class="block">
      Form here...
    </form>
  </nz-card>
</div>
