<nz-page-header class="py-0">
  <div nz-page-header-title>
    <h1 nz-typography>Update Permission Template</h1>
  </div>
  <nz-page-header-extra>
    <button
        class="mr-1"
        nz-button 
        nzType="primary"
        (click)="onUpdatePermissionTemplate(updatePermissionTemplateForm.value)">
      Save
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="p-4">
  <nz-card class="w-100 p-0">
    <form class="block" [formGroup]="updatePermissionTemplateForm">
      <vsp-permission-template-form></vsp-permission-template-form>
    </form>
  </nz-card>
</div>
